<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= message%></title>
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-success">
          <h4 class="alert-heading">Sikeres rögzítés!</h4>
        </div>
      </div>
</body>
</html>